<html>
<head>
  <title>Page</title>


  
  <style type="text/css">
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
    }
  </style>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,300">
  <link rel="stylesheet" href="stylesheets/style.css">
    <link rel='stylesheet' href='stylesheets/textAngular.css'>
    <link rel='stylesheet' href='scripts/mdPickers/dist/mdPickers.css'>
    <link rel='stylesheet' href='scripts/angular-ui-bootstrap/dist/ui-bootstrap-csp.css'>
    <link rel='stylesheet' href='scripts/angular-chart.js/dist/angular-chart.css'>
  <style> .glyphicon-thumbs-up { cursor:pointer } </style>
</head>

<body ng-app="bodyApp" >

  <div class="ng-cloak" ng-cloak>

    <nav class="navbar navbar-default navbar-fixed-top" ng-class="!$state.includes('home') ? 'navbar-custom2' : 'navbar-custom' " ng-controller="NavCtrl"  ng-cloak>
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li><a href="/#/home">Home</a></li>
                  <li><a href="/#/tournaments">Browse Tournament</a></li>
                  <li><a href="/#/contact">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-show="isLoggedIn()"><a href="/#/dashboard">{{ currentUser() }}</a></li>
                    <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
                    <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
                    <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
                    <li ng-if="!($state.includes('home')) && !($state.includes('create')) && !($state.includes('login')) && !($state.includes('register')) && isLoggedIn()"><a href="/#/create" style="padding:6px;"><md-button class="md-raised md-primary">Create tournament</md-button></a></li>
                </ul>
            </div>
        </div>
    </nav>


  <header class="intro-header background-image" ng-if="$state.includes('home')" ng-cloak>
        <div class="row no-margin">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Tournament generator</h1>
                    <hr class="small">
                    <span class="subheading" >Create and manage your tournament</span>
                    <a href="/#/create"><md-button class="md-raised md-primary margin-top-15">Let's get started</md-button></a>
                </div>
            </div>
        </div>
  </header>


  
    <div class="container">
      <div style="margin-top: 80px;">
        <ui-view></ui-view>
      </div>
  	</div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
    <script src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js"></script>
  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
   
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

  <script src="app/scripts/angularApp.js"></script>
  <script src="app/controllers/myApp.js"></script>
  <script src="app/scripts/angularApp.js"></script>
  <script src='app/scripts/textAngular-rangy.min.js'></script>
  <script src="scripts/mdPickers/dist/mdPickers.js"></script>
  <script src="scripts/mdPickers/dist/mdPickers.min.js"></script>
  <script src="scripts/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
  <script src="scripts/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
  <script src='app/scripts/moment.js'></script>
  <script src='app/scripts/textAngular-sanitize.min.js'></script>
  <script src='app/scripts/textAngular.min.js'></script>
  <script src="app/factory/myApp.js"></script>
  <script src="app/factory/auth.js"></script>
  <script src="app/factory/posts.js"></script>
  <script src="app/controllers/PostCtrl.js"></script>
  <script src="app/controllers/AuthCtrl.js"></script>
  <script src="app/controllers/SendCtrl.js"></script>
  <script src="app/controllers/wysiwygeditor.js"></script>
  <script src="app/controllers/NavCtrl.js"></script>
  <script src="app/controllers/TournamentCtrl.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


  </body>
</html>