<div class="container" role="main">

<div class="row">
    <div class="col-sm-6">
        <div class="page-header">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Contact</h1>
                    <p>Please use the following form to directly contact me.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                
        <form ng-submit="sendPost()" role="form" class="form-horizontal">
            <div class="form-group">
                <div class="col-md-10 control-label align-left">
                    <md-content class="autoScroll">
                    <md-input-container class="md-icon-float md-block">
                      <label>Name</label>
                      <md-icon class="name fa fa-user" style="font-size: 20px; color: #81d4fa; top: 0px;"></md-icon>
                      <input ng-model="name" type="text">
                    </md-input-container>

                    <md-input-container class="md-block">
                      <md-icon class="email fa fa-envelope" style="font-size: 20px;color: #ff7043;top: 0px"></md-icon>
                      <input ng-model="email" type="email" placeholder="Email (required)" ng-required="true">
                    </md-input-container>

                    <md-input-container md-no-float="" class="md-block">
                        <label>Messages</label>
                      <md-icon md-svg-src="" class="fa fa-pencil" style="font-size: 20px;color: #4caf50;"></md-icon>
                      <textarea ng-model="message" type="text"></textarea>
                    </md-input-container>

                  </md-content>
                </div>
            </div>
            <md-button type="submit" class="md-raised md-primary">Send</md-button>
        </form>

            </div>
        </div>
    </div>
   <div class="col-sm-6">
        <div class="page-header">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Feedback</h1>
                    <p>Bugs, suggestions or feedback? Leave it all here.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="disqus_thread"></div>
                        <script>
                        /**
                        * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                        * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                        */
                        /*
                        var disqus_config = function () {
                        this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
                        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                        };
                        */
                          var disqus_developer = 1;
                        (function() { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');

                        s.src = '//generatortournament.disqus.com/embed.js';

                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                        })();
                        </script>
                        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript> 
                                    </div>
                                </div>
                            </div>
                        </div>

</div>