    <div class="page-header">
      <h1>Create Tournament</h1>
    </div>

<form ng-submit="addPost()" ng-show="isLoggedIn()" style="margin-top:30px">

  <div style="margin-bottom: 30px;">
      <div class="row">
        <div class="form-group">
          <label class="col-md-2 control-label margin-label">Name</label>
          <div class="col-md-4" style="height: 70;">        
             <md-input-container class="width-100">
                <input required="" aria-label="Name" ng-model="title">
            </md-input-container>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label class="col-md-2 control-label margin-label">Sport</label>
            <div class="col-md-4">
              <md-input-container class="width-100">
                <md-select aria-label="Sport Type" ng-model="sport_type">
                  <md-option ng-repeat="type in types" value="{{type}}">{{type}}</md-option>
                </md-select>
              </md-input-container>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
            <label class="col-md-2 control-label margin-label">Type of tournament</label>
            <div class="col-md-4">
               <md-input-container class="width-100">
                <md-select aria-label="Tournament Type" ng-model="tournament_type">
                  <md-option ng-repeat="tournament in tournaments" value="{{tournament}}">{{tournament}}</md-option>
                </md-select>
              </md-input-container>
            </div>
        </div>
      </div>

      <div class="row margin-top-15">
        <div class="form-group">
          <label class="col-md-2 control-label margin-top-10">Numbers of teams</label>
          <div class="col-md-4">    
            <div class="btn-group">
              <button class="btn btn-default" type="button" ng-click="decNumOfTeams()"> 
                <span class="glyphicon glyphicon-minus" ></span>
              </button>
              <input type="hidden" value="{{numofteams}}" min="1" max="30">
              <button class="btn btn-default" style="width: 41px;" type="button" >{{numofteams}}</button>
              <button class="btn btn-default" type="button" max="30" ng-click="incNumOfTeams()">
                <span class="glyphicon glyphicon-plus" ></span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row margin-top-15">
        <div class="form-group">
          <label class="col-md-2 control-label margin-top-10">Numbers of players per team</label>
          <div class="col-md-4">
            <div class="btn-group">
              <button class="btn btn-default" type="button" ng-click="decNumOfPlayers()">
                <span class="glyphicon glyphicon-minus"></span>
              </button>
              <input type="hidden" value="{{numofplayers}}">
              <button class="btn btn-default" type="button" style="width: 41px;" min="1" max="10">{{numofplayers}}</button>
              <button class="btn btn-default" type="button" ng-click="incNumOfPlayers()">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row margin-top-15" ng-show="league">
        <div class="form-group">
          <label class="col-md-2 control-label margin-top-10">Number of plays against each team</label>
          <div class="col-md-4">
            <div class="btn-group">
              <button class="btn btn-default" type="button" ng-click="decNumOfGamesAg()">
                <span class="glyphicon glyphicon-minus" ></span>
              </button>
              <input type="hidden" value="{{numofgameagainst}}">
              <button class="btn btn-default" style="width: 41px;" type="button">{{numofgameagainst}}</button>
              <button class="btn btn-default" type="button" ng-click="incNumOfGamesAg()">
                <span class="glyphicon glyphicon-plus" ></span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row" ng-show="knockout">
        <div class="form-group">
            <label class="col-md-2 control-label margin-label">Number of teams that will be in the knockout stage</label>
            <div class="col-md-4">
                <md-input-container class="width-100">
                  <md-select aria-label="NumberofTeamsinKnockout" ng-model="numofteamsinknoc">
                    <md-option ng-repeat="teams in teams_knockout" value="{{teams}}">{{teams}}</md-option>
                  </md-select>
                </md-input-container>
            </div>
        </div>
      </div>

      <div class="row margin-top-15" ng-show="knockout">
        <div class="form-group">
          <label class="col-md-2 control-label margin-top-10">Games per match in knockout stage</label>
          <div class="col-md-4">
            <div class="btn-group">
              <button class="btn btn-default" type="button" ng-click="decKnockAg()">
                <span class="glyphicon glyphicon-minus" ></span>
              </button>
              <input type="hidden" value="{{knockagainst}}">
              <button class="btn btn-default"  style="width: 41px;" type="button" min="1" max="10">{{knockagainst}}</button>
              <button class="btn btn-default" type="button" ng-click="incKnockAg()">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row" ng-show="knockout">
        <div class="form-group">
          <label class="col-md-2 control-label margin-top-10">Number of games in final</label>
          <div class="col-md-4">
            <div class="btn-group">
              <button class="btn btn-default" type="button" ng-click="decFinalGamesAg()">
                <span class="glyphicon glyphicon-minus" ></span>
              </button>
              <input type="hidden" value="{{knockagainstfinal}}">
              <button class="btn btn-default" type="button" style="width: 41px;">{{knockagainstfinal}}</button>
              <button class="btn btn-default" type="button" ng-click="incFinalGamesAg()">
                <span class="glyphicon glyphicon-plus" ></span>
              </button>
            </div>
          </div>
        </div>
      </div>
  </div>


    <button type="button"  ng-click="isCollapsed = !isCollapsed" class="btn md-primary  btn-add">Add Additional information</button>

        <div uib-collapse="isCollapsed">
          <div class="row margin-top-15">
              <div class="form-group">
                <label class="col-md-2 control-label margin-label">Dates</label>
                <div class="col-md-3">
                    <mdp-date-picker name="minMaxDate" aria-label="Starts" mdp-placeholder="Start Date" mdp-min-date="minDate" mdp-max-date="maxDay" ng-model="currentDate">
                      <div ng-messages="currentDate.minMaxDate.$error">
                        <div ng-message="required">This is required</div>
                        <div ng-message="format">Invalid format</div>
                        <div ng-message="minDate">Min date</div>
                        <div ng-message="maxDate">Max date</div>
                      </div>
                    </mdp-date-picker>
                </div>
                <div class="col-md-2">
                  <mdp-time-picker aria-label="Start Time" ng-model="currentDate"></mdp-time-picker>
                </div>  
                <div class="col-md-3">
                    <mdp-date-picker name="minMaxDate" aria-label="Ends" mdp-placeholder="End Date" mdp-min-date="minDate" mdp-max-date="maxDay" ng-model="finalDate">
                      <div ng-messages="demoForm.minMaxDate.$error">
                        <div ng-message="required">This is required</div>
                        <div ng-message="format">Invalid format</div>
                        <div ng-message="minDate">Min date</div>
                        <div ng-message="maxDate">Max date</div>
                      </div>
                    </mdp-date-picker>
                  </div>
                <div class="col-md-2">
                  <mdp-time-picker aria-label="End Time" ng-model="finalDate"></mdp-time-picker>
                </div>  
              </div>  
          </div>
           <div class="row margin-bottom-18">
            <div class="form-group">
                <label class="col-md-2 control-label margin-label">Upload image </label>
                <div class="col-md-4">
                  <md-input-container class="width-100">
                    <label>URL</label>
                    <input aria-label="imageUrl" type="url" ng-model="imageUrl">
                  </md-input-container>
                </div>
                <div class="col-md-4">
                    <img class="resize" class="form-control" ng-src="{{imageUrl}}"/>
                </div>
            </div>
          </div>

          <div class="row">
             <div class="form-group">
                <label class="col-md-2 control-label">Description </label>
                <div class="col-md-10">
                  <div text-angular ng-model="description" name="Description" ta-text-editor-class="border-around" ta-html-editor-class="border-around"></div>
                </div>
            </div>
          </div>
        </div>

      <md-button type="submit" class="md-raised md-primary ">Create tournament</md-button>
    </form>
	<div ng-hide="isLoggedIn()">
	  <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.</h3>
	</div>