
  <div class="page-header">
    <h1>Log In</h1>
  </div>
	
<form ng-submit="logIn()" style="margin-top:30px;">

	<md-input-container class="md-block">
      <label>Username</label>
      <input required md-no-asterisk name="username" ng-model="user.username">
      <div ng-messages="logIn.username.$error">
        <div ng-message="username">{{ error.message }}</div>
      </div>
    </md-input-container>

    <md-input-container class="md-block">
      <label>Password</label>
      <input  type="password" required md-no-asterisk name="password" ng-model="user.password">
      <div ng-messages="logIn.username.$error">
      	<div ng-message="password">{{ error.message }}</div>
      </div>
    </md-input-container>

    <md-button type="submit" class="md-raised md-primary">Log In</md-button>
</form>

