
<div class="page-header">
  <h3>
    <a ng-show="post.link" href="{{post.link}}">
      {{post.title}}
    </a>
    <span ng-hide="post.link">
      {{post.title}}
    </span>
  </h3>
</div>
<div>
     <md-data-table-container class="padding-bottom-70">
      <table md-data-table md-progress="deferred">
        <thead md-order="query.order" md-trigger="onOrderChange">
          <tr>
            <th name="Name" order-by="post.joinusers"></th>
            <th name="Role"></th>
          </tr>
        </thead>
        <tbody>
          <tr md-auto-select ng-repeat="(key, user) in post.joinusers track by $index">
            <td><b>Team {{$index+1}}</b></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>{{user.teamname}}</td>     
          </tr>
        </tbody>
      </table>
    </md-data-table-container>

    <form ng-submit="addUser()" class="inputdemoErrors display-inline">
          <md-input-container class="display-inline">
          <label>TeamName</label>
          <input md-maxlength="15" required md-no-asterisk name="teamname" ng-model="teamname">
          <div ng-messages="registerForm.username.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
          </div>
        </md-input-container>
        <md-button type="submit" class="md-raised md-primary display-inline">Join</md-button>
    </form>
    <form novalidate name="matchForm" class="display-inline" ng-model="isOwner" ng-if="isOwner" ng-submit="getParticipants()">
        <md-button class="md-raised md-warn">Start tournament</md-button>
    </form>

 <md-content>
    <md-tabs md-dynamic-height="" md-border-bottom="">
      <md-tab label="fixtures">
        <md-content  class="md-padding">
              <div class="row">
                <div ng-repeat="match in matches track by $index">
                    <div class="col-lg-4 col-sm-6">      
                        <ul class="list-group fixture">
                          <li class="list-group-item" ng-class="post.allmatches[match.id].score || matches[$index].homescore && matches[$index].awayscore ? 'list-group-item-success' : 'list-group-item-info'">
                      <div class="row">
                        <span class="col-xs-4 team home" title="{{match.home}}">{{match.home}}</span>
                        <span class="col-xs-4 result" >
                          <input name="{{match.home}}" ng-disabled="!isOwner" type="tel" class="form-control home" ng-value="{{post.allmatches[match.id].score}}" ng-model="matches[$index].homescore"> -
                          <input name="{{match.away}}" ng-disabled="!isOwner" type="tel" class="form-control away" ng-value="{{post.allmatches[match.id+1].score}}" ng-model="matches[$index].awayscore" ng-change="add({{match.id}} , $index)">
                        </span>
                        <span class="col-xs-4 team away" title="{{match.away}}">{{match.away}}</span>
                      </div></li></ul>
                    </div>
                  </div>
                </div>
        </md-content>
        <md-content class="md-padding">
        <div layout="row" class="bracket">
          <div flex ng-repeat="round in knoRounds" layout="column" layout-align="center" >
            
            <md-list ng-if="round == match.round" ng-repeat="match in knoMatches track by $index" class="matchup" >   
        
              <md-list-item class="matchup-item">
                <p ng-click="winRound(match, match.PlayerOne)" ng-class="{ 'winRound' : match.PlayerOneId === match.WinnerId }">
                 {{match.playerA}}
                </p>
              </md-list-item>
              
              <md-list-item class="matchup-item">
                <p ng-click="winRound(match, match.PlayerTwo)" ng-class="{ 'winRound' : match.PlayerTwoId === match.WinnerId }">
                {{match.playerB}}
                </p>
              </md-list-item>
                
            </md-list>
            
              <div ng-if="round === rounds.length">
                <p class="winner"> {{tournament.Winner.first}} {{tournament.Winner.last}} </p>
              </div>         

          </div>
        </div>
        </md-content>
      </md-tab>
      <md-tab label="table">
        <md-content class="md-padding">
          <div class="row">
            <div class="col-xs-12">
              <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Player</th>
                        <th>Wins</th>
                        <th>Draws</th>
                        <th>Losses</th>
                        <th>Scored</th>
                        <th>Against</th>
                        <th>Difference</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="team in teams | orderBy:'-points'">
                        <td>{{$index+1}}</td>
                        <td style="color:#f48fb1;">{{team.team}}</td>
                        <td>{{team.wins}}</td>
                        <td>{{team.draws}}</td>
                        <td>{{team.losses}}</td>
                        <td>{{team.score}}</td>
                        <td>{{team.against}}</td>
                        <td>{{team.difference}}</td>
                        <td>{{team.points}}</td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </md-content>
      </md-tab>
      <md-tab ng-if="post.description" label="description">
        <md-content class="md-padding">
          <div class="row">
            <div class="col-xs-12">
                  <div ta-bind ng-model="post.description"></div>
            </div>
          </div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>


<div ng-repeat="comment in post.comments | orderBy:'-upvotes'" style="margin-top:30px;">
   <md-content>
           <div layout="row"  layout-xs="column">
              <md-card flex>
                  <md-card-content>
                    <h4>{{comment.author}} said on: {{returnDay(comment.dateComment)}}</h4>
                  </md-card-content>
                  <md-card-content>
                      <p>{{comment.body}}</p>
                  </md-card-content>
                  <md-card-content>
                          <span class="glyphicon glyphicon-thumbs-up" style="color: #4caf50;" ng-click="upvote(comment)"></span>
                            {{comment.upvotes}} 
                          <span class="glyphicon glyphicon-thumbs-down" style="color: #4caf50;" ng-click="downvote(comment)"></span>
                </md-card-content>
              </md-card>
          </div>
    </md-content>
</div>

    <form ng-submit="addComment()" ng-show="isLoggedIn()" style="margin-top:30px;display:-webkit-box;">
        <md-input-container class="md-block display-inline" style="width: 90%;">
          <label>Add a new comment</label>
            <md-icon class="fa fa-comment-o" style="font-size: 20px;color: #4caf50;"></md-icon>
                <textarea md-no-asterisk name="body" ng-model="body"></textarea>  
        </md-input-container>
        <md-button type="submit" class="md-raised md-primary display-inline">Comment</md-button>
    </form>

<div ng-hide="isLoggedIn()">
<h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can view.</h3>
</div>
