
  <div class="page-header">
    <h1>Register</h1>
  </div>
<div layout="column" ng-cloak>
  <form ng-submit="register()" name="registerForm" class="inputdemoErrors">
    
    <md-input-container class="md-block">
      <label>Username</label>
      <input md-maxlength="30" required md-no-asterisk name="username" ng-model="user.username">
      <div ng-messages="registerForm.username.$error">
        <div ng-message="required">This is required.</div>
        <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
      </div>
    </md-input-container>

    <md-input-container class="md-block">
      <label>Email</label>
      <input required type="email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" md-no-asterisk name="email" ng-model="user.email">
      <div ng-messages="registerForm.email.$error">
        <div ng-message="required">This is required.</div>
        <div ng-message-exp="['minlength', 'maxlength', 'pattern']">Your email must be between 10 and 100 characters long and look like an e-mail address.</div>
      </div>
    </md-input-container>

    <md-input-container class="md-block">
      <label>Password</label>
      <input minlength="8" maxlength="32"  type="password" required md-no-asterisk name="password" ng-model="user.password">
      <div ng-messages="registerForm.username.$error">
        <div ng-message-exp="['minlength', 'maxlength', 'pattern' , 'required']">Your password must be between 0 and 32 characters long.</div>
      </div>
    </md-input-container>

    <md-button type="submit" class="md-raised md-primary">Register</md-button>

  </form>
</div>


