<div class="page-header">
  <h1>Tournaments</h1>
</div>

    <md-input-container class="md-icon-float md-block">
      <label style="color: #1e88e5;">Search</label>
      <md-icon class="name fa fa-search" style="font-size: 20px; color: #1e88e5; top: 0px;"></md-icon>
      <input ng-model="searchText" style="border-color: #1e88e5;" type="text">
    </md-input-container>

<div class="row">
  <div ng-repeat="post in posts | filter:searchText">
      <div class="col-lg-6 col-sm-12"> 
          <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline"><a href="#/posts/{{post._id}}">{{post.title}}</a></span>
                <span class="md-subhead">by {{post.author}}</span>
              </md-card-title-text>
              <md-card-title-media >
                <div class="md-media-sm card-media"> <img ng-show="post.image_url" ng-src="{{post.image_url}}" class="md-card-image" alt="{{post.sport_type}}"></div>
              </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
              <md-button>Comments({{post.comments.length}})</md-button>
              <md-button>{{post.sport_type}}</md-button>            
            </md-card-actions>
        </md-card>
      </div>
      </div>
  </div>