.align-left{
	text-align: left !important;
}
.align-right{
	text-align: right !important;
}
.align-center{
	text-align: center !important;
}
.page-header{
	
}
.no-margin{
  margin: 0px;
}
md-card md-card-content{
    display: block;
    padding: 16px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
}
.fixture{
  text-align: center;
}
.fixture *{
  line-height: 80px;
}
.fixture .result{
    font-weight: bold;
    font-size: 17pt;
}
.result input.home {
    margin-right: -4px;
}
.list-group-item-success {
    color: #ffffff;
    background-color: #18bc9c;
}
.result input {
    width: 30px;
    display: inline-block;
    padding: 0;
    text-align: center;
    background: none;
    border: 0;
    color: #FFF;
    font-size: 17pt;
    box-shadow: none!important;
    text-shadow: 1px 1px #000;
    cursor: none;
    line-height: 17pt;
}
.list-group-item-info{
    color: #ffffff;
    background-color: #3498db;
}
.padding-left-5{
	padding-left: 5px;
}
.padding-right-5{
	padding-right: 5px;
}
.padding-bottom-5{
	padding-bottom: 5px;
}
.padding-bottom-10{
	padding-bottom: 10px;
}
.padding-bottom-70{
  padding-bottom: 70px;
}
.padding-top-5{
	padding-top: 5px;
}
.margin-5{
	margin: 5px;
}
.margin-top-15{
	margin-top: 15px;
}
.margin-top-10{
	margin-top: 10px;
}
.margin-bottom-18{
	margin-bottom: 18px;
}
.glyphicon{
	top: 3px;
	height: 20px;
}
.required {
    color: #f04;
}

.width-100{ 
	width: 100%;
}
.margin-label{
	margin: 28px 0 0 0;
}
img.resize{
    width: 150px; 
    height: 150px;
}
label {
	font-size: 12px;
	text-transform: uppercase;
}
.fa{
	line-height: inherit;
}
.fa-youtube-play{
	color: red;
}
.fa-link{
	color: grey;
}
.fa-picture-o{
	color: green;
}
.dropdown-menu{
	position: absolute;
	left: 0;
	z-index: 1000;
	top: auto;
}

html.md-default-theme, html, body.md-default-theme, body{
	font-family: 'Roboto', sans-serif;
	background-color: #FFFFFF !important;
}
.background-image{
	background: url(http://i1318.photobucket.com/albums/t650/Arthur_Vorobjov/football-stadium2_zpsrwv3rk8s.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  vertical-align: middle;
}

.navbar-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}
.navbar-custom .navbar-brand {
  font-weight: 800;
}
.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;

}
@media only screen and (min-width: 768px) {
  .navbar-custom {
    background: transparent;
    border-bottom: 1px solid transparent;
  }
  .navbar-custom .navbar-brand {
    color: white;
    padding: 20px;
  }
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    border-bottom: 2px solid rgb(255,64,129);
  	transition: 0.4s;
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar-custom .nav li a {
    color: white;
    padding: 20px;
  }
  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
  	border-bottom: 2px solid rgb(255,64,129);
  	transition: 0.4s;
    color: rgba(255, 255, 255, 0.8);
  }
}
@media only screen and (min-width: 1170px) {
  .navbar-custom {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -61px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .navbar-custom.is-fixed .navbar-brand {
    color: #404040;
  }
  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    color: #0085a1;
  }
  .navbar-custom.is-fixed .nav li a {
    color: #404040;
  }
  .navbar-custom.is-fixed .nav li a:hover,
  .navbar-custom.is-fixed .nav li a:focus {
    color: #0085a1;
  }
  .navbar-custom.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 100px 0 50px;
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 150px 0;
  }
}
.intro-header .site-heading,
.intro-header .page-heading {
  text-align: center;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  font-size: 16px;
  line-height: 1.1;
  display: block;
  font-weight: 300;
  margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 70px;
  }
}
.matchup-item{
  height: 60px;
}
.navbar-custom2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  height: 60px !important;
  text-decoration: none; 
}
.navbar-custom2 .navbar-brand {
  font-weight: 800;
}
.navbar-custom2 .nav li a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;

}
@media only screen and (min-width: 768px) {
  .navbar-custom2 {
    background: rgba(255, 255, 255, 0);
    border-bottom: 2px solid transparent;
	-webkit-box-shadow:0px 2px 2px #ecf0f1;
	-moz-box-shadow:0px 2px 2px #ecf0f1;
	box-shadow:0px 2px 2px #ecf0f1;
  }
  .navbar-custom2 .navbar-brand {
    color: white;
    padding: 20px;
  }
  .navbar-custom2 .navbar-brand:hover,
  .navbar-custom2 .navbar-brand:focus {
    border-bottom: 2px solid rgb(255,64,129);
  	transition: 0.4s;
    color: rgba(255,64,129, 0.3);
    text-decoration: none; 

  }
  .navbar-custom2 .nav li a {
    color: rgb(63,81,181);
    padding: 20px;
  }
  .navbar-custom2 .nav li a:hover,
  .navbar-custom2 .nav li a:focus {
  	border-bottom: 2px solid rgb(255,64,129);
  	transition: 0.4s;
    color: rgba(63,81,181, 0.65);
  	text-decoration: none; 
  }
}
@media only screen and (min-width: 1170px) {
  .navbar-custom2 {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .navbar-custom2.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -61px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .navbar-custom2.is-fixed .navbar-brand {
    color: #404040;
  }
  .navbar-custom2.is-fixed .navbar-brand:hover,
  .navbar-custom2.is-fixed .navbar-brand:focus {
    color: #0085a1;
  }
  .navbar-custom2.is-fixed .nav li a {
    color: #404040;
  }
  .navbar-custom2.is-fixed .nav li a:hover,
  .navbar-custom2.is-fixed .nav li a:focus {
    color: #0085a1;
  }
  .navbar-custom2.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
.btn-add{
    color: rgb(63,81,181) !important;
    background-color: white;
    border: 2px solid rgb(63,81,181) !important;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}
.btn-add.focus, .btn-add:focus, .btn-add:hover{
  color: rgba(63,81,181,0.4) ;
}
.bracket {
  background-color: #f5f5f5;
}

.matchup {
  border: 1px solid #B6B6B6 !important;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 0px;
  background-color: white;
}

md-list-item {
  font-size: 14px;
}

.winRound {
  font-weight: bold;
}

.winner {
  margin-left: 20px;
  font-weight: bold;
}
.deeporange{
  color: #ffab91;
  border-color: #ffab91;
}
body h1{
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
  background-color: #18bc9c;
  
}
.display-inline{
    display: inline-block;
}